<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/FairyStyleSheet.css">   
    <script type="text/javascript">
        // get back end data about products in context
        var analytics_items = {{ cart | tojson | safe }};
        console.log("hey ele ", analytics_items)
    </script>
    <script src="/static/analytics.js"></script>
    <script src="/static/consent_update.js"></script>
    
    <title>Checkout</title>
</head>
<body>
    <h1>Your cart</h1>
    {% if cart %}
<ul>
{% for item in cart %}
    <li>{{ item.item_name }} - ${{ item.price }} x {{ item.quantity }}</li>
{% endfor %}
</ul>

        <p>Total: ${{ total_price }}</p>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}



<!-- Add this form at the bottom of your cart.html -->
<a href="/empty_cart">Empty cart</a>
<form action="{{ url_for('checkout') }}" method="post">
    <input class="checkout" type="submit" value="Proceed to Checkout">
</form>

<div> <a class="next" href="/"> Back to Home </a>
<div class="cookie-banner" id="cookie-banner">

    <p>This website uses cookies. Please select the types of cookies you want to accept:</p>
    <div class="cookie-types">
        <label> 
            Strictly Necessary
             <div class="toggle-switch">
                <input type="checkbox" checked disabled>
                <span class="slider"></span>   
            </div>
        </label>
        <label>
            Analytics
            <div class="toggle-switch">
                <input type="checkbox" id="analyticsToggle" checked>
                <span class="slider"></span>
            </div>
        </label>
        <label>
            Marketing
            <div class="toggle-switch">
                <input type="checkbox" id="marketingToggle" checked>
                <span class="slider"></span>
            </div>
        </label>
    </div>

    <div class="cookie-buttons">
        <button class="allow-all-button" onclick="closePopup(); acceptAll()">Allow All </button>
        <button class="allow-selection-button" onclick="closePopup(); allowSelection()">Allow Selection</button>
        <button class="deny-all-button" onclick="closePopup(); denyAll()">Deny All  </button>
    </div>
</div>


</body>
</html>
