<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/FairyStyleSheet.css">   
    <script type="text/javascript">
        // get back end data about products in context
        var analytics_items = {{ cart | tojson | safe }};
        window.clientId = {{ g.get('client_id') | tojson }} || 0;
    </script>
    <script src="/static/analytics.js"></script>
    <script src="/static/consent_update.js"></script>
    
    <title>Checkout</title>
</head>
<body>
    <h1>Your cart</h1>
    {% if cart %}

    <h2>Disclaimer</h2>
    <p>This website was created solely for training purposes and does not represent a real entity or business activity. The information contained herein is fictional and should not be considered as legal, financial, or professional advice. Use of this website is at your own risk and discretion.</p>
<ul>
{% for item in cart %}
    <li>{{ item.item_name }} - ${{ item.price }} x {{ item.quantity }}</li>
{% endfor %}
</ul>

        <p>Total: ${{ total_price }}</p>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}



<!-- Add this form at the bottom of your cart.html -->
<a href="/empty_cart">Empty cart</a>
<form action="{{ url_for('checkout') }}" method="post">
    <input class="checkout" type="submit" value="Proceed to Checkout">
</form>

<div> <a class="next" href="/"> Back to Home </a>
<div class="cookie-banner" id="cookie-banner">

    <p>This website uses cookies. Please select the types of cookies you want to accept:</p>
    <div class="cookie-types">
        <label> 
            Strictly Necessary
             <div class="toggle-switch">
                <input type="checkbox" checked disabled>
                <span class="slider"></span>   
            </div>
        </label>
        <label>
            Analytics
            <div class="toggle-switch">
                <input type="checkbox" id="analyticsToggle" checked>
                <span class="slider"></span>
            </div>
        </label>
        <label>
            Marketing
            <div class="toggle-switch">
                <input type="checkbox" id="marketingToggle" checked>
                <span class="slider"></span>
            </div>
        </label>
    </div>

    <div class="cookie-buttons">
        <button class="allow-all-button" onclick="closePopup(); acceptAll()">Allow All </button>
        <button class="allow-selection-button" onclick="closePopup(); allowSelection()">Allow Selection</button>
        <button class="deny-all-button" onclick="closePopup(); denyAll()">Deny All  </button>
    </div>
</div>

<br><br><br><br>
</body>
    <footer>
        <ul>

             <li><a href="/static/privacy_policy.html">Privacy Policy</a></li>
            <li><a href="/static/cookie_policy.html">Cookie Policy</a></li>
            <li>
            <p>© 2025 Training Website. All rights reserved. The contents of this website are fictional and created for training purposes. Unauthorized reproduction, distribution, or use of these materials is prohibited</p>
            </li>
        </ul>
    </footer>
</html>
